[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
        ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ri_vim"]
	path = bundle/ri_vim
	url = https://github.com/danchoi/ri_vim.git
[submodule "bundle/PA_ruby_ri"]
	path = bundle/PA_ruby_ri
	url = https://github.com/vim-scripts/PA_ruby_ri.git
[submodule "bundle/threesome.vim"]
	path = bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/groovy.vim"]
	path = bundle/groovy.vim
	url = git@github.com:vim-scripts/groovy.vim.git
